body {
    width: 320px;
    height: 1024px;
}
.header {
    width: 100%;
    list-style-type: none;
}
.header__menu {
    list-style-type: none;
    display: flex;
}
.header__menu span {
    visibility: hidden;
}
.header__close {
    background:#FF3E79 url("images/close.svg") no-repeat;
}
.header__group {
    background: url("images/Group.svg") no-repeat;

}
.header__search {
    background:#FF3E79 url("images/search.svg") no-repeat;
    position: relative;
    right:-24px;
}
.main__under-title{
    text-decoration: none;
    border-left:20px;
    font-size: 16px;
    line-height: 24px;
    color:#7E7E82;
    padding-left: 20px;
    margin: 0;
    border-left: 4px solid #41F6D7;
}
.under-menu {
    list-style-type: none;
    padding: 0;
}
.under-menu li {
    font-size: 16px;
    line-height: 24px;
    padding: 16px 20px;
}
.under-menu a{
    text-decoration: none;
    color: #1b1c21;
}
.navigation--position {
    position: relative;
    bottom: -310px;
    border-bottom: none;
    visibility: visible;
}
footer {
    position: relative;
    bottom: -320px;
    left:20px
}
.footer__phone {
    font-size: 24px;
    line-height: 32px;
    color: #1b1c21;
    font-weight: bold;
}
.footer__langueges {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.footer__langueges li{
    margin-right: 7px;
    font-weight: bold;
}
.footer__langueges li:hover{
    opacity: 0.3;
}
@keyframes button-style{
    100% {opacity: 0.5;
            transform:scale(0.8) ;}
}
.items:hover {
    animation-name: button-style;
    animation-duration: 200ms;
    animation-fill-mode: forwards;
}
