@keyframes button-style{
  100% {opacity: 0.5;
          transform:scale(0.8);}
}
.button-styles:hover {
  animation-name: button-style;
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}
